.header{
    height: fit-content;
    background-color: #cbcbcb;
}

.positionHeader{
    width: 90%;
    margin: auto;
    padding-top: 50px;
}

.content-item{
    width: 48%;
    float: left;
    margin: 1%;
    height: fit-content;
    border-radius: '5px';
    border: solid 1px #e3e3e3;
    box-shadow: 7px 13px 17px -9px rgba(150,150,150,0.57);
}

.content-item-name{
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
}

.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all 0.3s;
  }
  .dynamic-delete-button:hover {
    color: #777;
  }
  .dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .custom-table{
    width: 50%;
    height: 50%;
  }